<footer class="footer" role="contentinfo">
  <hr>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a class="missing" href="/expectations">What to expect?</a></li>
      {% if site.eventbrite %}
      <li><a href="{{ site.eventbrite }}">Participate!</a></li>
      {% endif %}
      <li><a href="/sessions">Past Sessions</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="https://www.youtube.com/user/{{ site.youtube }}"><i class="fa fa-youtube-square"></i> YouTube</a></li>
      <li><a href="https://www.facebook.com/{{ site.facebook }}"><i class="fa fa-facebook-square"></i> Facebook</a></li>
      <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter-square"></i> Twitter</a></li>
    </ul>
    <ul>
      <li><h3>Else</h3></li>
      <li><a class="missing" href="mailto:{{ site.email }}">Contact</a></li>
      <li><a class="missing" href="/accessibility">Accessibility</a></li>
    </ul>
  </div>

  <p class="unorganisers">Brought to you by: <span class="people">{{ site.unorganisers }}</span></p>

  <p class="copy">&copy; Respective authors 2008&ndash;</p>
</footer>
