<div class="homepage-hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="/images/logo.png" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>{{ site.title }}</h1>
			<h2>[{{ site.tagline }}]</h2>
      {{ site.hero | markdownify }}
			{% if site.event-date %}
				<span class="date"><i class="fa fa-calendar"></i>&ensp;
					{{ site.event-date }}
				</span>
			{% endif %}
			{% if site.event-date %}
				<br>
				<span class="time">
					<i class="fa fa-clock-o"></i>&ensp;
					{{ site.event-time }}
				</span>
			{% endif %}
		</div>
	</div>
</div>
