<div class="homepage-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="/expectations">What to expect?</a></li>
        {% for event_hash in site.data.events | sort %}
          {% if forloop.first %}
          {% assign event = event_hash[1] %}
        <li class="nav-link"><a class="participate" href="{{ event.eventbrite }}">
          Participate&ensp;<i class="fa fa-external-link"></i></a></li>
          {% endif %}
        {% endfor %}
        <li class="nav-link"><a href="/sessions">Past Sessions</a></li>
      </ul>
    </nav>
  </div>
</div>
