<div class="homepage-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">About</a></li>
        <li class="nav-link"><a href="/participate">Participate</a></li>
        <li class="nav-link logo">
          <a href="/" class="home-icon">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="nav-link"><a href="/sessions">Past Sessions</a></li>
        <li class="nav-link"><a href="javascript:void(0)"><acronym>FAQ</acronym></a></li>
      </ul>
    </nav>
  </div>
</div>
