<nav id="page-nav" role="navigation">
  <a href="/" class="nav-home-icon">
    <i class="fa fa-home"></i>
  </a>
  <ul>
    <li><a href="/expectations">What to expect?</a></li>
    <li><a href="/participate">Participate</a></li>
    <li><a href="/sessions">Past Sessions</a></li>
  </ul>
  <div class="nav-secondary-links">
    <ul>
      <li><a href="/accessibility">Accessibility</a></li>
      <li><a href="mailto:foo@bar.com">Contact</a></li>
    </ul>
    <ul class="nav-social">
      <li><a href="javascript:void(0)">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
      </a>
      </li>
      <li><a href="javascript:void(0)">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a>
      </li>
      <li><a href="javascript:void(0)">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a>
      </li>
    </ul>
  </div>
</nav>
