<nav id="page-nav" role="navigation">
  <div class="nav-logo">
    <a href="/"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image"></a>
  </div>
  <ul>
    <li><a href="javascript:void(0)">About</a></li>
    <li><a href="/participate">Participate</a></li>
    <li><a href="/sessions">Past Sessions</a></li>
  </ul>
  <div class="nav-secondary-links">
    <ul>
      <li><a href="javascript:void(0)"><acronym>FAQ</acronym></a></li>
      <li><a href="javascript:void(0)">Accessibility</a></li>
    </ul>
    <ul class="nav-social">
      <li><a href="javascript:void(0)">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
      </a>
      </li>
      <li><a href="javascript:void(0)">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a>
      </li>
      <li><a href="javascript:void(0)">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a>
      </li>
    </ul>
  </div>
</nav>
