<nav id="page-nav" role="navigation">
  <a href="/" class="nav-home-icon">
    <i class="fa fa-home"></i>
  </a>
  <ul>
    <li><a href="/expectations">What to expect?</a></li>
    {% for event_hash in site.data.events | sort %}
      {% if forloop.last %}
      {% assign event = event_hash[1] %}
    <li><a class="participate" href="{{ event.eventbrite }}">
      Participate&ensp;<i class="fa fa-external-link"></i></a></li>
      {% endif %}
    {% endfor %}
    <li><a href="/sessions">Past Sessions</a></li>
  </ul>
  <div class="nav-secondary-links">
    <ul>
      <li><a href="/conduct">Code of Conduct</a></li>
      <li><a href="/accessibility">Accessibility</a></li>
      <li><a href="mailto:{{ site.data.links.email }}">
        Contact&ensp;<i class="fa fa-envelope-o"></i></a></li>
    </ul>
  </div>
</nav>
