@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "font-awesome";

///////////////////////////////////////////////////////////////////////////////////
$large-screen: em(860) !default;
$medium-screen: em(769) !default;
$tiny-screen: em(320);

$dark-gray: #333 !default;
$medium-gray: lighten($dark-gray, 20%);
$light-gray: #ddd !default;
$red: #cc0000;

$em-base: 16px;
$fontface-sans: "Source Sans Pro", Monaco, "DejaVu Sans", sans-serif;
$fontface-serif: "Merriweather", Georgia, "DejaVu Serif", serif;
$fontface-monospace: "Source Code Pro", "DejaVu Sans Mono", monospace;
$fontface-print: Georgia, Times, "Times New Roman", serif;
$base-background-color: white !default;
$base-font-color: $dark-gray !default;

$base-border-color: #ccc;
$base-border-radius: 3px !default;
$base-accent-color: darken(#477DCA, 8%);

body {
  @include outer-container;
  text-align: left;
}

main, section {
  margin: 8px;
  margin-top: 3em;
  @include media(min-width $tiny-screen max-width $large-screen, 12) {
  }
}

@import "typography";
@import "navigation";
@import "header.scss";
@import "footer";
@import "mailchimp-signup";
@import "sponsors";
@import "map";
@import "home";
@import "sessions";
