main#home {
  font-size: 1.2em;

  article {

    p:first-child {
      font-size: 1.2em;
      font-family: $fontface-serif;
      margin-bottom: 2em;
      color: $medium-gray;
    }

    // targets first line of opening para, e.g. for small-caps
    article p:first-child:first-line { }

    h2 {
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 1em;
    }
  }
}
