div#mailchimp-signup {
  margin-top: 3em;
  margin-bottom: 3em;

  @include media($tiny-screen) {
    padding: 0 8px;
    @include span-columns(10);
    @include shift(1);
  }
  @include media($medium-screen) {
    @include span-columns(6);
    @include shift(3);
  }

  #mc_embed_signup {
    background: #fff;
    clear: left;
    width: 100%;

    label, select, input {
      font-family: $fontface-sans;
    }

    label, select { font-size: 1.6em; }
    input { font-size: 1.1em; }

    p {
      font-size: 0.9em;
      font-family: $fontface-serif;
      text-align: center;
      margin-top: 2em;
    }
  }
}
