// Stylng for:
//  - nav-home include
//  - nav include

///////////////////////////////////////////////////////////////////////////////
// nav-home

.homepage-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: white;
  $centered-navigation-color: lighten($light-gray, 10%);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 90px;
  $centered-navigation-item-padding: 3em;
  $centered-navigation-submenu-padding: 2em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6%);
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;
  margin-top: 3em;

  // Mobile view

  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  // Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  // The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    text-align: center;
    width: 100%;
    z-index: 9999;
    padding-bottom: 2px;

    a {
      font-family: $fontface-serif;
      font-size: 1.4em;
      font-weight: bold;
      color: $base-accent-color;
      outline: none;
      text-decoration: none;
      border: 1px solid $centered-navigation-background;
      border-radius: 3px;
      padding: 0.6em;

      &:focus,
      &:hover {
        color: darken($base-accent-color, 25%);
        background-color: lighten($base-accent-color, 42%);
        border: 1px solid lighten($base-accent-color, 42%);
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        margin-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      color: $centered-navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3%);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// nav

nav#page-nav {
  $base-spacing: 1.5em !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $nav-background: lighten($light-gray, 10%);
  $nav-color: $dark-gray;
  $nav-link-color: transparentize($nav-color, 0.3);

  background: $nav-background;
  border: 1px solid $nav-background;
  border-radius: $base-border-radius;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  .nav-home-icon {
    font-size: 1.2em;
    color: lighten($dark-gray, 20);
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    list-style: none;
    padding-right: 1.4em;

    @include media($tiny-screen) {
      margin-bottom: 0.5em;
    }

    @include media($large-screen) {
      display: inline;
      text-align: left;
      margin-bottom: 0;
    }
  }

  ul li a {
    font-size: 1.1em;
    color: $nav-link-color;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid $nav-background;

    &:focus,
    &:hover {
      color: black;
      border-bottom: 1px dotted darken($nav-background, 20%);
    }
  }

  .nav-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.9em;
    }
  }
}
