main#session-list {

  div.page-introduction {
    font-family: $fontface-serif;
    margin-bottom: 2em;
  }

  div.event {
    margin-bottom: 3em;

    div.youtube-embed {
      margin-top: 2em;
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;

      iframe {
        padding: 6px;
        background-color: $light-gray;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
