---
layout: base
---

<header>
  {% include nav.html %}
</header>

<main id="session-list">
  <article>
    <h1><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>

    {{ content }}

    <div class="events">
      <h2>Recordings from the years</h2>
      {% for collection in site.collections %}
      {% capture label %}{{ collection[0] }}{% endcapture %}
      <div class="event">
        <h3>{{ site.collections.[label].title }}</h3>

        {% if site.collections.[label].abstract %}
          {{ site.collections.[label].abstract | markdownify }}
        {% endif %}

        {% if site.collections.[label].youtube-playlist %}
        <div class="youtube-embed">
          <iframe src="https://www.youtube.com/embed/videoseries?list={{ site.collections.[label].youtube-playlist }}"
            frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </article>
</main>
