---
layout: base
---

<header>
  {% include nav.html %}
</header>

<main id="session-list">
  <article>
    <h1><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>

    {{ content }}

    <div class="events">
      <h2>Recordings from the years</h2>
      {% for event_hash in site.data.events | sort %}
			{% assign event = event_hash[1] %}
      <div class="event">
        <h3>{{ event.title }}</h3>

        {% if event.abstract %}
        {{ event.abstract | markdownify }}
        {% endif %}

        {% if event.date %}
        <p>Date: {{ event.date }}.</p>
        {% endif %}

        {% if event.hashtag %}
        <p>Event hashtag: <code>#{{ event.hashtag }}</code>.</p>
        {% endif %}

        {% if event.youtube-playlist %}
        <div class="youtube-embed">
          <iframe src="https://www.youtube.com/embed/videoseries?list={{ event.youtube-playlist }}"
            frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </article>
</main>
